.price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.price-table th, .price-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.price-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.price-table tr:hover {
    background-color: #f1f1f1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    background-color: #F2F3F4; 
    margin: 0;
    
    gap: 30px; 
    padding-bottom: 50px;
}

header, main, footer {
    width: 95%;
    max-width: 1000px;
}

td li {
    line-height: 1.6;
    margin-bottom: 5px;
}
